In [572]:
import pandas as pd
#https://ucr.fbi.gov/crime-in-the-u.s/2019/crime-in-the-u.s.-2019/topic-pages/tables/table-8/table-8.xls/view

In [565]:
read_file = pd.read_excel (r'/Users/pauliuskomskis/Downloads/wyoming.xls')
read_file.to_csv (r'/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/wyoming.csv')
df = pd.read_csv('/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/wyoming.csv')
print('Excel to CSV conversion Success')
df
df.columns = df.iloc[3] # taking 3rd row and making it column headers
df.drop(df.index[3]) # deleting the 3rd row from df
df = df.dropna() # dropping NaN value rows/data
df.drop(df.iloc[:,:1], inplace = True, axis = 1) # droping the firs row as it is a duplicate of headers
df.set_index('City')
df = df.drop(df.index[0]) # dropping a duplicate column
df.reset_index(drop=True)

Excel to CSV conversion Success

3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
0,Afton,2017,0,0,0,0,0,12,1,11,0,0
1,Buffalo,4571,8,0,1,0,7,52,13,30,9,0
2,Casper,57752,169,2,58,18,91,1677,285,1271,121,2
3,Cheyenne,64501,220,5,43,27,145,1999,211,1613,175,11
4,Cody2,9865,17,0,7,1,9,107,10,94,3,2
5,Diamondville,756,1,0,0,0,1,1,0,1,0,0
6,Douglas,6294,8,1,0,1,6,87,8,72,7,0
7,Evanston2,11624,29,0,21,1,7,183,22,152,9,1
8,Evansville,2977,7,0,0,3,4,73,13,52,8,0
9,Gillette,31960,43,1,9,0,33,626,62,529,35,2
10,Glenrock,2544,3,0,0,0,3,20,1,18,1,0
11,Green River,11927,22,0,0,0,22,97,11,84,2,0
12,Greybull,1857,0,0,0,0,0,5,1,4,0,0
13,Hanna,766,0,0,0,0,0,1,0,0,1,0
14,Kemmerer,2745,1,0,0,0,1,8,0,8,0,0
15,Lander,7489,0,0,0,0,0,253,15,226,12,0
16,Laramie,32669,58,0,17,2,39,318,50,252,16,6
17,Lusk,1537,5,0,2,0,3,8,0,7,1,0
18,Mills,3975,3,0,0,2,1,71,22,39,10,4
19,Moorcroft,1068,1,0,0,0,1,4,2,1,1,0
20,Newcastle,3386,10,0,5,0,5,49,12,31,6,0
21,Pine Bluffs,1170,2,0,1,1,0,5,2,3,0,0
22,Powell2,6310,22,0,12,0,10,76,12,58,6,2
23,Rawlins,8589,26,0,4,1,21,122,31,84,7,0
24,Riverton,11004,38,3,19,1,15,426,52,332,42,6
25,Rock Springs,23092,44,0,14,1,29,309,36,259,14,1
26,Saratoga,1615,1,0,0,0,1,6,1,4,1,0
27,Sheridan,17895,9,0,4,0,5,369,75,278,16,3
28,Thermopolis2,2830,13,0,0,0,13,34,7,22,5,0
29,Torrington,6709,13,0,4,1,8,48,8,40,0,0
30,Wheatland,3544,7,0,1,0,6,72,24,45,3,0
31,Worland,5026,8,0,5,0,3,36,6,30,0,0

In [566]:
df

3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
4,Afton,2017,0,0,0,0,0,12,1,11,0,0
5,Buffalo,4571,8,0,1,0,7,52,13,30,9,0
6,Casper,57752,169,2,58,18,91,1677,285,1271,121,2
7,Cheyenne,64501,220,5,43,27,145,1999,211,1613,175,11
8,Cody2,9865,17,0,7,1,9,107,10,94,3,2
9,Diamondville,756,1,0,0,0,1,1,0,1,0,0
10,Douglas,6294,8,1,0,1,6,87,8,72,7,0
11,Evanston2,11624,29,0,21,1,7,183,22,152,9,1
12,Evansville,2977,7,0,0,3,4,73,13,52,8,0
13,Gillette,31960,43,1,9,0,33,626,62,529,35,2
14,Glenrock,2544,3,0,0,0,3,20,1,18,1,0
15,Green River,11927,22,0,0,0,22,97,11,84,2,0
16,Greybull,1857,0,0,0,0,0,5,1,4,0,0
17,Hanna,766,0,0,0,0,0,1,0,0,1,0
18,Kemmerer,2745,1,0,0,0,1,8,0,8,0,0
19,Lander,7489,0,0,0,0,0,253,15,226,12,0
20,Laramie,32669,58,0,17,2,39,318,50,252,16,6
21,Lusk,1537,5,0,2,0,3,8,0,7,1,0
22,Mills,3975,3,0,0,2,1,71,22,39,10,4
23,Moorcroft,1068,1,0,0,0,1,4,2,1,1,0
24,Newcastle,3386,10,0,5,0,5,49,12,31,6,0
25,Pine Bluffs,1170,2,0,1,1,0,5,2,3,0,0
26,Powell2,6310,22,0,12,0,10,76,12,58,6,2
27,Rawlins,8589,26,0,4,1,21,122,31,84,7,0
28,Riverton,11004,38,3,19,1,15,426,52,332,42,6
29,Rock Springs,23092,44,0,14,1,29,309,36,259,14,1
30,Saratoga,1615,1,0,0,0,1,6,1,4,1,0
31,Sheridan,17895,9,0,4,0,5,369,75,278,16,3
32,Thermopolis2,2830,13,0,0,0,13,34,7,22,5,0
33,Torrington,6709,13,0,4,1,8,48,8,40,0,0
34,Wheatland,3544,7,0,1,0,6,72,24,45,3,0
35,Worland,5026,8,0,5,0,3,36,6,30,0,0

In [567]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter', 'Rape1', 'Robbery',
       'Aggravated\nassault', 'Property\ncrime', 'Burglary', 'Larceny-\ntheft',
       'Motor\nvehicle\ntheft', 'Arson'],
      dtype='object', name=3)

In [568]:
df.rename(columns={'City': 'city',
                  'Population': 'population',
                  'Violent\ncrime': 'violent_crime',
                  'Murder and\nnonnegligent\nmanslaughter': 'murder',
                  'Rape1': 'rape',
                  'Robbery': 'robbery',
                  'Aggravated\nassault': 'assault',
                  'Property\ncrime': 'property_crime',
                  'Burglary': 'burglary',
                  'Larceny-\ntheft': 'larceny',
                  'Motor\nvehicle\ntheft': 'gta',
                  'Arson': 'arson'}, inplace=True)
df.reset_index(drop=True, inplace=True)

In [569]:
df

3,city,population,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,gta,arson
0,Afton,2017,0,0,0,0,0,12,1,11,0,0
1,Buffalo,4571,8,0,1,0,7,52,13,30,9,0
2,Casper,57752,169,2,58,18,91,1677,285,1271,121,2
3,Cheyenne,64501,220,5,43,27,145,1999,211,1613,175,11
4,Cody2,9865,17,0,7,1,9,107,10,94,3,2
5,Diamondville,756,1,0,0,0,1,1,0,1,0,0
6,Douglas,6294,8,1,0,1,6,87,8,72,7,0
7,Evanston2,11624,29,0,21,1,7,183,22,152,9,1
8,Evansville,2977,7,0,0,3,4,73,13,52,8,0
9,Gillette,31960,43,1,9,0,33,626,62,529,35,2
10,Glenrock,2544,3,0,0,0,3,20,1,18,1,0
11,Green River,11927,22,0,0,0,22,97,11,84,2,0
12,Greybull,1857,0,0,0,0,0,5,1,4,0,0
13,Hanna,766,0,0,0,0,0,1,0,0,1,0
14,Kemmerer,2745,1,0,0,0,1,8,0,8,0,0
15,Lander,7489,0,0,0,0,0,253,15,226,12,0
16,Laramie,32669,58,0,17,2,39,318,50,252,16,6
17,Lusk,1537,5,0,2,0,3,8,0,7,1,0
18,Mills,3975,3,0,0,2,1,71,22,39,10,4
19,Moorcroft,1068,1,0,0,0,1,4,2,1,1,0
20,Newcastle,3386,10,0,5,0,5,49,12,31,6,0
21,Pine Bluffs,1170,2,0,1,1,0,5,2,3,0,0
22,Powell2,6310,22,0,12,0,10,76,12,58,6,2
23,Rawlins,8589,26,0,4,1,21,122,31,84,7,0
24,Riverton,11004,38,3,19,1,15,426,52,332,42,6
25,Rock Springs,23092,44,0,14,1,29,309,36,259,14,1
26,Saratoga,1615,1,0,0,0,1,6,1,4,1,0
27,Sheridan,17895,9,0,4,0,5,369,75,278,16,3
28,Thermopolis2,2830,13,0,0,0,13,34,7,22,5,0
29,Torrington,6709,13,0,4,1,8,48,8,40,0,0
30,Wheatland,3544,7,0,1,0,6,72,24,45,3,0
31,Worland,5026,8,0,5,0,3,36,6,30,0,0

In [570]:
# df['city'].replace(['Aitkin3'], 'Aitkin', inplace=True)

In [571]:
df.to_csv('/Users/pauliuskomskis/Desktop/github/greenzone/data/2019/wyoming-clean.csv')